/* Hi, I am Kartik Bansal 👋 */body{
    position: relative;
    width: 1440px;
    height: 4809px;
    
    background: #212529;
    }
    footer{
        position: absolute;
        width: 1440px;
        height: 470px;
        left: 0px;
        top: 4339px;
        }
        .group36664{
            position: absolute;
            width: 139.33px;
            height: 228.78px;
            left: 431.85px;
            top: 148px;
            }
            
            .group_36664{
            /* Group 36664 */
            
            
            position: absolute;
            width: 1339px;
            height: 358.29px;
            left: 50px;
            top: 1775px;
            }
            
            .group36665{
            position: absolute;
            width: 143.46px;
            height: 232.57px;
            left: 772.54px;
            top: 148px;
            }
            
            .group_36665{
            /* Group 36665 */
            
            
            position: absolute;
            width: 1234px;
            height: 1037.5px;
            left: 103px;
            top: 2270px;
            }
            .group9{
                /* Group 9 */
                position: absolute;
                width: 416px;
                height: 120px;
                left: 440px;
                
                background: rgba(56, 62, 69, 0.44);
                border-radius: 10px;
                }
                
                .group10{
                /* Group 10 */
                
                
                position: absolute;
                width: 416px;
                height: 120px;
                left: 880px;
                
                background: rgba(56, 62, 69, 0.44);
                border-radius: 10px;
                }
                .group36665{
                    position: absolute;
                    width: 143.46px;
                    height: 232.57px;
                    left: 772.54px;
                    top: 148px;
                    }
                    
                    .group_36665{
                    /* Group 36665 */
                    
                    
                    position: absolute;
                    width: 1234px;
                    height: 1037.5px;
                    left: 103px;
                    top: 2270px;
                    }